<configuration>
    <localPaths>		
		    <!-- Location where the demo source files will be copied in order to perform the demo -->
        <solutionWorkingDir>C:\Demos\Source</solutionWorkingDir>
		    <!-- Relative path to the folder containing the begin solutions -->
        <solutionsDir>.\ClipMeme\</solutionsDir>
     </localPaths>
	<clientSettings>
		<!-- Configuration Settings -->
		<DisplayName>{Username}</DisplayName>
	</clientSettings>
	<windowsAzureSubscription>
		<EnvironmentSubscriptionName>{SubscriptionName}</EnvironmentSubscriptionName>
		<EnvironmentPrimaryLocation>{Location}</EnvironmentPrimaryLocation>		
		<StorageAccountName>{StorageAccountName}</StorageAccountName>
		<WebsiteName>{WebsiteName}</WebsiteName>
		<TrafficManagerProfile>{TrafficManagerProfile}</TrafficManagerProfile>
  </windowsAzureSubscription>  
</configuration>