.todoList {
    position: relative;
    width: 280px;
    min-height: 280px;
    display: inline-block;
    margin: 2em 2em 1em 0;
    padding-top: 8px;
    text-align: center;
    -moz-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    background-color: #ffc;
    vertical-align: top;
    line-height:1em;
}

    .todoList:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-width: 0 0 24px 24px;
        border-style: solid;
        border-color: #f6f6c7 #fff;
    }

    .todoList header {
        z-index: auto;
        margin-top:4px;
    }

    .todoList header input {
        border: none;
        background: none;
        text-align: center;
        width: 95%;
        font-size: 1.7em;
    }

    .todoList ul {
        list-style: none;
        padding: 0 0 0 12px;
        margin: 0;
    }

    .todoList ul li {
        margin: 2px 0;
    }

    .todoList ul li:first-child {
        padding-top: 10px;
    }

    .addTodo {
        padding: 0;
        margin-left: 25px;
        display: block;
        color: #999;
    }

    .todoList input[type=text], .addTodo {
        width: 200px;
        border: none;
        background: none;
    }

    .todoList input[disabled] {
        color: #666;
        text-decoration: line-through;
    }

    .todoList a {
        color: silver;
        text-decoration: none;
        font: .8em verdana;
    }

        .todoList a.deletelist {
            position: absolute;
            font: 1em verdana;
            top: -5px;
            right: -10px;
            background: silver;
            color: white;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            text-decoration: none;
            width: 20px;
            height: 20px;
            display: inline-block;
        }

.todoItemInput::-ms-clear {
    display: none;
}