<configuration>
  <system.webServer>
    <staticContent>
	  <!-- 
	    Avoid DisableCache in a production environment. It is not good practice to force the browser to fetch javascript files, that most likely weren't changed, on every page refresh.
	    From a lab's perspective, this was required so the different end solutions provided could be run without clearing the browser's cache.
	  -->	
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
</configuration>