<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="FictionalInvestment.PublicServices.CrmPublicService">
        <endpoint address="sb://[YOUR-NAMESPACE].servicebus.windows.net/CrmPublicService"
                  binding="netTcpRelayBinding"
                  contract="Common.Contracts.ICrmPublicService"
                  behaviorConfiguration="serviceBusCredentialBehavior"/>
      </service>
    </services>

    <client>
      <endpoint address="sb://[YOUR-NAMESPACE].servicebus.windows.net/CrmDataService"
                binding="netTcpRelayBinding"
                contract="Common.Contracts.ICrmDataService"
                behaviorConfiguration="serviceBusCredentialBehavior"/>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="serviceBusCredentialBehavior">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="fictionalInvestment"
                            issuerSecret="[YOUR_FI_ISSUER_KEY]"/>
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior"
             type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </behaviorExtensions>
      <bindingExtensions>
        <add name="netTcpRelayBinding"
             type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>

  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>