<configuration>
    <localPaths>		
		<!-- Location where the demo source files will be copied in order to perform the demo -->
        <solutionWorkingDir>C:\Demos\Source</solutionWorkingDir>
		<!-- Relative path to the folder containing the begin solutions -->
        <solutionsDir>.\ClipMeme\</solutionsDir>
     </localPaths>
	<clientSettings>
		<!-- Configuration Settings -->
		<DisplayName>{Username}</DisplayName>
	</clientSettings>
	<windowsAzureSubscription>
		<EnvironmentSubscriptionName>Azdem169F29744N</EnvironmentSubscriptionName>
		<EnvironmentPrimaryLocation>East US</EnvironmentPrimaryLocation>		
		<StorageAccountName>azuretkstorage</StorageAccountName>
		<WebsiteName>clipmemehmeydac</WebsiteName>
  </windowsAzureSubscription>  
</configuration>