<configuration>
	<appSetup>
		<packagename>FacilityRequest</packagename>
    </appSetup>
    <localPaths>		
		<!-- Location where the demo source files will be copied in order to perform the demo -->
        <solutionWorkingDir>C:\Demos\Source</solutionWorkingDir>
		<!-- Relative path to the folder containing the begin solutions -->
        <solutionsDir>.\ClipMeme\</solutionsDir>
     </localPaths>
	<clientSettings>
		<!-- Configuration Settings -->
		<username>{Username}</username>				
	</clientSettings>
	<windowsAzureSubscription>
		<EnvironmentSubscriptionName>azuretkstorage</EnvironmentSubscriptionName>
		<EnvironmentPrimaryLocation>West US</EnvironmentPrimaryLocation>
		<subscriptionName>Azdem169F29744N</subscriptionName>
		<websiteName>clipmemehmeydac</webSiteName>
  </windowsAzureSubscription>  
</configuration>