<!DOCTYPE html>
<html class="no-js" lang="en" class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head id="ContentPlaceHolderDefault_Head1">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1" />
    <meta charset="utf-8" />
    <title><#= Package.Name #> - <#= Content.Title #></title>
    <link rel="Stylesheet" type="text/css" media="all" href="styles/master.css" />
</head>
<body id="top" class="page-">
    <div id="page">
        <div id="wrapper" class="landingPage getStartedPage">            
            <div class="header">								
				<img alt="Windows Azure" src="images/azure-logo.png" />
				<span class="mainHomepageSubTitle">Training Kit - <#= Package.Overview.Version #></span>								
			</div>			
			<div class="nav-menu-header">
				<nav>
					<ul>
						<li class="MenuLink-Selected">
							<a href="#">Content</a>
						</li>
						<# 
						var lab = Content as Lab;
						var tutorial = Content as Tutorial;
						var demo = Content as Demo;
						if ((lab != null && !string.IsNullOrWhiteSpace(lab.Source)) ||
							(tutorial != null && !string.IsNullOrWhiteSpace(tutorial.Source)) ||
							(demo != null && !string.IsNullOrWhiteSpace(demo.Source)))
						{ #>
						<li class="MenuLink">
							<a href="Source">Setup</a>
						</li>
						<#
						}
						#>
					</ul>
				
				<# if (Content.CustomProperties.ContainsKey("GitHubRepository"))
					{ #>
						
						<span id="github-btn" class="github-btn">
						  <a id="gh-btn" title="Fork this repo in GitHub" href="<#=Content.CustomProperties["GitHubRepository"]#>" target="_blank" class="gh-btn">
							<span class="gh-ico"></span>
							<span id="gh-text" class="gh-text">Fork</span>
						  </a>								  
						</span>								
						<span id="github-btn" class="github-btn github-watchers">
						  <a id="gh-btn" title="Watch this repo in GitHub" href="<#=Content.CustomProperties["GitHubRepository"]#>" target="_blank" class="gh-btn">
							<span class="gh-ico"></span>
							<span id="gh-text" class="gh-text">Watch</span>
						  </a>								  
						</span>
						
					<#
					}
				#>
				
				</nav>
			</div>	        
		</span>
			<div id="content" class="textpage">
            <section id="content-container">
				<div id="content" class="textpage">
			    <a name="top"></a>
				
				