@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row voffset">
    <div class="alert alert-danger">
        <h2>Error. <small>An error occurred while processing your request</small></h2>      
    </div>
</div>