@{ 
    ViewBag.Title = "myTODO - About"; 
}
@section MainContent {
    <div class="listHeader">
        <h2>
            About myTODO</h2>
        <p>
            myTODO is a sample application built on Windows Azure to manage and share simple
            lists (e.g. tasks to complete, favorite movies, books you enjoyed, etc.).
        </p>
        <h3>
            About the sample</h3>
        <p>
            The application uses what in Windows Azure is called a Web Role. Web Roles are slices
            of web servers that you can use in order to host applications like ASP.NET, PHP,
            FAST-CGI, and WCF. You can get your own for testing visiting <a href="http://www.windowsazure.com/">
                Windows Azure Site</a>.
            <br />
            This application also uses a <a href="http://msdn.microsoft.com/en-us/data/bb931106.aspx">
                WCF Data Services</a> and <a href="https://www.sqlazurelabs.com/">SQL Azure</a>
            as the underlying store. WCF Data Services and the <a href="http://www.odata.org/">OData</a>
            protocol allow applications to expose data through an open HTTP protocol, enabling
            friction-free development and deployment of modern applications to a variety of
            devices and platforms.
        </p>
    </div>
}