<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array/>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>CFBundleDisplayName</key>
	<string>Facilities</string>
	<key>CFBundleIdentifier</key>
	<string>FacilityApp</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default-Portrait.png</string>
		<string>Icon-76.png</string>
	</array>
</dict>
</plist>
