<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Windows Azure Training Kit - <#= currentPage #></title>
    <!-- Global CSS -->
    <link rel="Stylesheet" type="text/css" media="all" href="Assets/NavSite/styles/master.css" />
</head>
<body>
    <a name="top"></a>
    <div id="outerWrapper">
        <div id="wrapper" class="landingPage getStartedPage">            
            <div class="header">								
				<a href="http://windowsazure.com"><img alt="Windows Azure" src="Assets/NavSite/images/azure-logo.png" /></a>
				<span class="mainHomepageSubTitle">Training Kit - <#= Package.Overview.Version #></span>				
				<div class="changeLogLink">												
						<a href="ChangeLog.htm">Change Log</a> | 
						<a href="prerequisites.htm">Prerequisites</a>  |  
						<a href="http://aka.ms/WATK-FreeTrial" target="_blank">Try Windows Azure Free</a>
					</div>
			</div>			
			<div class="nav-menu-header">
					<#@ include file="Master.Navigator.include.tt" #>
			</div>
            <div class="contentWrapper">
