<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9172c51f-b28d-4a22-8d5d-d27498ca5bb2" Publisher="CN=user01" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Notifications.Client</DisplayName>
    <PublisherDisplayName>user01</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Notifications.Client.App">
      <VisualElements DisplayName="Notifications.Client" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Notifications.Client" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="widelogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>