<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <add key="WebJobFunctionName" value="[STORAGEACCOUNT].GifGenerator.GifGenerator.Program.ProcessImage"/>
    <add key="WebJobBlobLogsContainer" value="azure-jobs-invoke-log" />
    <add key="ExceptionType" value="Microsoft.WindowsAzure.StorageClient.StorageClientException"/>
    <add key="ExceptionMessage" value="The specified blob does not exist." />
    <add key="BlobName" value="20140326-090527-oops.gif" />
  </appSettings>
  
  <connectionStrings>
    <add name="TargetAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=[STORAGEACCOUNT];AccountKey=[STORAGEACCOUNTKEY]" />
  </connectionStrings>
</configuration>