<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="FictionalInvestment.Crm.Data.CrmDataService">
        <endpoint address="sb://[YOUR-NAMESPACE].servicebus.windows.net/CrmDataService"
                  binding="netTcpRelayBinding"
                  contract="Common.Contracts.ICrmDataService"
                  behaviorConfiguration="serviceBusCredentialBehavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="serviceBusCredentialBehavior">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="fictionalInvestment"
                            issuerSecret="[YOUR_FI_ISSUER_KEY]"/>
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior"
             type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </behaviorExtensions>
      <bindingExtensions>
        <add name="netTcpRelayBinding"
             type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
