@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<hgroup class="title">
    <h1>Help</h1>
    <h2>You can find help and common questions for using cloud survey.</h2>
</hgroup>
