<configuration>
	<generalSettings>
		<azureSubscriptionName>Azdem169F29744N</azureSubscriptionName>
		<location>East US</location>
		<adminUserName>adminuser</adminUserName>
		<adminPassword>Passw0rd!</adminPassword>
		<storageAccount>hmeydacstorage2</storageAccount>
	</generalSettings>
	<puppetMasterSettings>	
		<cloudServiceName>marcosmaster9</cloudServiceName>
		<vmName>marcosmaster9</vmName>
		<consoleUsername>admin@contoso.com</consoleUsername>
		<consolePassword>Passw0rd!</consolePassword>
	</puppetMasterSettings>
	<puppetAgentSettings>
		<cloudServiceName>marcosagent9</cloudServiceName>
		<vmName>marcosagent9</vmName>
	</puppetAgentSettings>
</configuration>