<configuration>
	<generalSettings>
		<azureSubscriptionName>{Subscription}</azureSubscriptionName>
		<location>{location}</location>
		<adminUserName>{adminUserName}</adminUserName>
		<adminPassword>{adminPassword}</adminPassword>
		<storageAccount>{storageAccount}</storageAccount>
	</generalSettings>
    <puppetMasterSettings>	
		<cloudServiceName>{cloudServiceName}</cloudServiceName>
		<vmName>{vmName}</vmName>
    </puppetMasterSettings>
	<puppetAgentSettings>
		<cloudServiceName>{cloudServiceName}</cloudServiceName>
		<vmName>{vmName}</vmName>
	</puppetAgentSettings>
  <Puppet>
    <CloudServiceName>{CloudServiceName}</CloudServiceName>
    <AdminUserName>{AdminUserName}</AdminUserName>
    <AdminPassword>{AdminPassword}</AdminPassword>
    <ConsoleUsername>{ConsoleUsername}</ConsoleUsername>
    <ConsolePassword>{ConsolePassword</ConsolePassword>
  </Puppet>
</configuration>