<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IWeatherService">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
                        requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
                        keyEntropyMode="CombinedEntropy" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10"
                        requireSecurityContextCancellation="false" canRenewSecurityContextToken="false">
                        <localClientSettings cacheCookies="true" detectReplays="false"
                            replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
                            replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
                            sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
                            timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
                        <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
                            maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
                            negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
                            sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                            reconnectTransportOnFailure="true" maxPendingSessions="128"
                            maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
                        <secureConversationBootstrap defaultAlgorithmSuite="Default"
                            authenticationMode="IssuedTokenOverTransport" requireDerivedKeys="false"
                            securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy"
                            messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
                            <issuedTokenParameters keyType="SymmetricKey" tokenType="">
                                <additionalRequestParameters>
                                  <AppliesTo xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy">
                                    <EndpointReference xmlns="http://www.w3.org/2005/08/addressing">
                                      <Address>https://{yourProjectName}.cloudapp.net/</Address>
                                    </EndpointReference>
                                  </AppliesTo>
                                    <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                        <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                                        <trust:Claims Dialect="http://schemas.xmlsoap.org/ws/2005/05/identity"
                                            xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                            <wsid:ClaimType Uri="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"
                                                Optional="true" xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                                            <wsid:ClaimType Uri="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                                                Optional="true" xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                                        </trust:Claims>                                        
                                    </trust:SecondaryParameters>
                                </additionalRequestParameters>
                                <issuer address="http://{yourMachineName}/LocalSTS/Service.svc/IWSTrust13"
                                    binding="ws2007HttpBinding" bindingConfiguration="http://{yourMachineName}/LocalSTS/Service.svc/IWSTrust13">
                                    <identity>
                                        <servicePrincipalName value="host/{yourMachineName}" />
                                    </identity>
                                </issuer>
                                <issuerMetadata address="https://localhost/LocalSTS/Service.svc/mex" />
                            </issuedTokenParameters>
                            <localClientSettings cacheCookies="true" detectReplays="false"
                                replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
                                replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
                                sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
                                timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
                            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
                                maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
                                negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
                                sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                                reconnectTransportOnFailure="true" maxPendingSessions="128"
                                maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
                        </secureConversationBootstrap>
                    </security>
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Default" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" requireClientCertificate="false" />
                </binding>
            </customBinding>
            <ws2007HttpBinding>
                <binding name="http://localhost/LocalSTS/Service.svc/IWSTrust13"
                    closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                    sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
                    hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8"
                    useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="http://{yourMachineName}/LocalSTS/Service.svc/IWSTrust13"
                    closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                    sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
                    hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8"
                    useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="false" />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="https://127.0.0.1:8443/WeatherService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IWeatherService"
                contract="ServiceReference1.IWeatherService" name="CustomBinding_IWeatherService" />
        </client>
    </system.serviceModel>
</configuration>